/** @define ValidRootVars */

:root {
  --ValidRootVars-background: green;
  --color-ValidRootVars: green;
  --ValidRootVars-background--transparent: rgba(#000, 0.7);
}

:root {
  --valid-root-vars-background: green;
  --valid-root-vars-background--not-green: blue;
}
