/** @define StrictValidRules; use strict */

.StrictValidRules {
  color: green;
}

.StrictValidRules.is-active {
  color: green;
}

.StrictValidRules .StrictValidRules--modifier {
  color: green;
}

.StrictValidRules > div {
  color: green;
}

.StrictValidRules > div.is-active {
  color: green;
}

%StrictValidRules {
  color: red;
}

.StrictValidRules:not(.is-active) {
  color: blue;
}
